/* utils */

.title {
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    position: relative;
    padding-bottom: .6rem;
    text-align: center;
    font-weight: 900;
    color: #2b4d85;
    font-family: "Freight Sans Pro", sans-serif;
}

@media(width <= 768px) {
    .title{
        font-size: 2rem;
    }
  }

.title.sm{
    font-size: 1.8rem;
    text-align: left;
    margin-top: 6px;
    padding-bottom: 0.9rem;
}

.title::after {
    content: "";
    display: block;
    width: 10rem;
    height: 2px;
    background: #E83B48;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.title.sm::after{
    margin-left: 3rem;
}


@media (width < 440px) {
    .navbar-brand-img { 
        max-height: 45px;
      }


      
.mobile-img{
    top: 13%;
    height: 70%;
  }

  .join {
    
  }
  #videos{
    margin-top: -8.8rem;
  }

.social a {
    font-size: 0.7rem;
    margin: 0;
}
  
#priorities {
    background-color: #dbe8f6 !important;
    padding: 3rem 0 5rem;
  }
      

  .banner{
    font-family: "Freight Sans Pro", sans-serif;
  }
}
@media (width <= 420px) {
    .join {
       
    }

    #videos{
        margin-top: 0;
      }
}

footer p {
    font-family: "Freight Sans Pro", sans-serif;
    cursor: pointer;
}


#donate footer {
  background-color: #dbe8f6;
  font-family: "Freight Sans Pro", sans-serif;
  border-top: 3px solid #E83B48;
}

#donate .container{
  padding-left: 0;
  padding-right: 0;
}


.input-div, .card-input{
 

  padding-block: 9px;
  border-radius: 5px;
  position: relative;
}

.input-div{
  padding-left: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 405px;
}

.card-input{
  width: 100%;
  border: 1px solid rgb(177, 174, 174);
}

.input-div input {
  outline: none;
}

.input-div input:nth-of-type(1) {
  width: 74%;
}

.input-div input:nth-of-type(2) {
width: 19%;
}
.input-div input:nth-of-type(3) {
 width: 13%;
}
.input-div input::placeholder{
  font-size: 17.5px;
  font-weight: light;
  letter-spacing: -1px;
  font-family: "Freight Sans Pro", sans-serif;
}
.income, .submit{
  font-family: "Freight Sans Pro", sans-serif;
}

.input-div .icon, .amountIcon{
  font-size: 1.4rem;
  position: absolute;
  left: 7px;
  color: rgb(225, 222, 222);
}

.card-label{
  font-family: 'Source Serif Pro', serif;
  font-weight: 600;
}

.dual-input div {
  
}

@media(width <= 400px) {
 
  .input-div{
    padding-left: 35px;
    width: 305px;
  }
  

}
